<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container">

        <div class="row" Fruite-section>
            <div class="col-md-4">
                @{Html.RenderAction("SideManu", "Fruits");}

            </div>
            <div class="col-md-8">
                <div class="Apple">
                    <h1>Apple</h1>
                    <img src="~/Image/R94508d72aeb3e4eda83fa193b13cf380.jpg" />                    
                    <div class=" button">
                        <div class="row">
                            <div class="col-md-6 price">
                                <h2>Rs300/-</h2>
                                <div class="col-md-6 ordernow">
                                    <div class="col-md-6 OrderNow"><button class="btn btn-danger">OrderNow</button></div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
