
@{
    ViewBag.Title = "Globle";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        .test {
            background-color: deeppink;
            width: auto;
            height: 200px;
        }

        .test1 {
            background-color: green;
            width: auto;
            height: 200px;
        }

        .test2 {
            background-color: yellow;
            width: auto;
            height: 200px;
        }

        .test3 {
            background-color: black;
            width: auto;
            height: 200px;
        }
    </style>
</head>
<body>
    <div class="test">
        <p>hello test</p>
    </div>

    <div class="test1">
        <p>hello test1</p>
    </div>

    <div class="test2">
        <p>hello test2</p>
    </div>

    <div class="test3">
        <p>hello test3</p>
    </div>

</body>
</html>

