
    <ul>
        <li><a href="/Fruits/Amrud">Amrud</a></li><br>

        <li><a href="/Fruits/Mango">Mango</a></li><br>

        <li><a href="/Fruits/Grapes">Grapes</a></li><br>

        <li><a href="/Fruits/Apple">Apple</a></li><br>

        <li><a href="/Fruits/Banana">Banana</a></li><br>
    </ul>